html,
body {
    height: 100%;
    overflow: hidden;
}

#meMessageBox {
    font-size: 16px;
    text-align: left;
    display: inline-block;
    position: absolute;
    /* --- */
    right: 0px;
    display: flex;
}

#messageBox {
    font-size: 16px;
    display: inline-block;
    display: flex;
}

#meMessage {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #dae9ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#message {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#messagesBuble {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    margin: auto;
    width: 100%;
    min-height: 50%;
    height: 80%;
    /* border: 2px solid darkgrey; */
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 15%;
    padding-top: 40px;
}

#conversation {
    width: 90%;
    padding-bottom: 0px;
    top: 10%;
    left: 5%;
}

#newUser {
    font-style: italic;
    font-size: 14px;
}

#sender,
#me {
    font-weight: bold;
}

#sender {
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

#me {
    text-align: left;
    padding-left: 10px;
}

#namefriendchat {
    margin-top: 25px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}

#avatarChat {
    z-index: 1;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 55px;
    border-radius: 50%;
}

#slideshow {
    margin: 0 auto;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}

#slideshow>div {
    margin-top: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#messErrSDT,
#messErrSDT1,
#messErrSDT2,
#messErrName,
#messErrName1,
#messErrNameFix,
#mess {
    color: red;
    font-size: 12px;
}

.messageError {
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
}