.content {
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}

.nav-pills {
    width: 450px;
}

.nav-item {
    width: 50%;
}

.nav-pills .nav-link {
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
}

.nav-pills .nav-link.active {
    background: #fff;
    color: #000;
}

.tab-content {
    position: absolute;
    width: 450px;
    height: auto;
    margin-top: -50px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
}

.tab-content button {
    margin-left: 5px;
    border-radius: 2px;
    width: 100px;
    float: right;
}

#messOTP,
#mess {
    color: red;
    font-size: 13px;
}

#otpcheck {
    visibility: visible;
    opacity: 1;
}

#nhapthongtin {
    height: 450px;
    margin-top: 80px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

#nhapthongtinnew {
    height: 270px;
    margin-top: 80px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

.btnDK {
    position: absolute;
    right: 3%;
    bottom: 0%;
}

.btnDKnew {
    position: absolute;
    right: 3%;
    bottom: 9%;
}