body {
    font-family: "Lato", sans-serif;
    display: flex;
}

.iconoption {
    margin-top: 30px;
}

.main {
    margin-left: 50px;
}

.avatarMessChat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px white;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

.avatarFriend {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px white;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

.avata {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px white;
    margin-top: 25px;
    margin-left: 3px;
    /* margin-bottom: 10px;
    margin-right: 10px; */
}

.avatadanhba {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.sidenav {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    height: 100%;
    width: 67px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* padding-top: 10px; */
}

.avatar {
    margin-bottom: 40px;
}

.sidenav a {
    margin-right: 3px;
    padding-left: 10px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#btnThoat {
    position: absolute;
    bottom: 0px;
    margin: 10px;
    width: 70px;
}

.sidenav a:hover {
    color: #000000;
}

.title {
    display: flex;
    padding-top: 25px;
    padding-left: 20px;
}

.titleName {
    padding-left: 20px;
}

.themdanhba {
    /* background-color: #E6F0FF; */
    margin-top: 10px;
    display: flex;
    padding-left: 20px;
    height: 50px;
    transition: 0.2s;
}

.themdanhbasdt {
    margin-bottom: 10px;
    /* background-color: #E6F0FF; */
    display: flex;
    padding-left: 20px;
    height: 50px;
    transition: 0.2s;
}

.themdanhbasdt:hover {
    width: 95%;
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.themdanhba p {
    padding-left: 20px;
    padding-top: 17px;
    font-size: 17px;
}

.themdanhba:hover {
    width: 95%;
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.btnthongtincanhan {
    margin: 0 auto;
    margin-bottom: 30px;
}

.chatbox,
.dsketban,
.banbe {
    /* background-color: #1695A6; */
    display: flex;
    height: 70px;
    padding-top: 5px;
    padding-left: 20px;
    transition: 0.2s;
    width: 95%;
    /* padding-bottom: 10px; */
}

#userInfo {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 69%;
}

#getAllGroup {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 69%;
}

#show {
    -webkit-box-shadow: 0px 0px 10px -3px rgba(99, 99, 99, 1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(99, 99, 99, 1);
    box-shadow: 0px 0px 10px -3px rgba(99, 99, 99, 1);
    text-align: center;
    background-color: white;
    border-radius: 7px;
    height: 100px;
    width: 120px;
    z-index: 1;
    position: relative;
    display: none;
    right: -86%;
    top: -10%;
    padding-top: 10px;
}

.itemShow {
    height: 30px;
}

.itemShow:hover {
    background-color: rgb(226, 223, 223);
}

.more {
    position: absolute;
    right: 5%;
    margin-top: 10px;
}

.chatbox:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.danhsachketban :hover {
    color: #1695A6;
}

.option {
    transition: 0.2s;
}

.option:hover {
    transform: scale(1.1);
}

.col-3 {
    background-color: #FFFFFF;
    /* color: white; */
    height: 100vh;
}

.col-9 {
    /* background-color: #C2DCEB; */
    position: relative;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.chatinfo {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: white;
}

.chatboxavatar {
    width: 90px;
    margin-right: 20px;
}

.noidung {
    padding-left: 20px;
    margin-top: 20px;
}

.tenban {
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: 450;
}

.avatarpopup {
    margin-left: 100px;
    padding-bottom: 50px;
    width: 47%;
}

.avatamodal {
    border-radius: 50%;
    width: 120%;
    height: 100%;
    margin-right: 30px;
}

.namechat {
    margin-top: 10px;
    margin-left: 10px;
}


/* nhập số điện thoại nè */

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}


/* Khung ben phai */

.nhaptinnhan {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-top: 1px solid rgb(224, 219, 219);
}

.inforFriend {
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: #FFFFFF;
    height: 10%;
    z-index: 1;
    position: relative;
}

.iconDemo {
    width: 25px;
    height: 25px;
    margin-top: 13px;
}

.btnchat {
    border: none;
    margin-top: 10px;
    background-color: white;
    height: 30px;
    outline: none;
}

.btnXoaTNred {
    color: #fff;
    background-color: #dd3422;
    border-color: #dd3422;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 15px;
    padding: .375rem .75rem;
    font-weight: 400;
    height: 50px;
    width: 60px;
}

.btntao {
    color: #fff;
    background-color: #207bf1;
    border-color: #207bf1;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 15px;
    padding: .375rem .75rem;
    font-weight: 400;
    height: 50px;
    width: 60px;
}

.btnXoaTN {
    color: #fff;
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 15px;
    padding: .375rem .75rem;
    font-weight: 400;
    height: 50px;
    width: 60px;
}

.inputchat {
    border: none;
    height: 50px;
    width: 96%;
    margin-left: 2.5%;
    outline: none;
    padding-left: 10px;
}

.slideshow {
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0 auto;
}

.chat {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0%;
    top: 0%;
}

.tacvu {
    width: 100%;
    padding-left: 40px;
    padding-top: 2px;
    margin-bottom: 4px;
    position: absolute;
    bottom: 7.9%;
    height: 50px;
}

#listAcceptFriend {
    margin-right: 120px;
}

.chodongykb {
    position: relative;
    margin-left: 30px;
    border: 1px solid #D5DCE1;
    height: 100px;
    background-color: #EDF5FB;
    -webkit-box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    margin-bottom: 15px;
    border-radius: 5px;
}

.btnchodongykb {
    position: absolute;
    margin-top: 15px;
    height: 50px;
    display: flex;
    right: 30px;
}

.avatachodongykb {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 35px;
    width: 70px;
    height: 70px;
}

.goiykb {
    display: flex;
    flex-wrap: wrap;
}

.itemgoiykb {
    margin-top: 20px;
    margin-left: 30px;
    -webkit-box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    width: 250px;
    height: 250px;
}

.avatarGroup {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
    padding-left: 7.5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.avatarItemGroup {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
}

.itemGroup {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.avatagykb {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.select2 {
    width: 465px;
}

#nameGroup {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}