<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Tumblrz</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/css/stylechat.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylechatnew.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/2.2.1/mdb.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />


    <script>
        let ipv4;
        $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function(data) {
            localStorage.removeItem("ipv4");
            localStorage.setItem('ipv4', JSON.stringify(data.ip, null, 2));
        });
        ipv4 = JSON.parse(localStorage.getItem("ipv4"));

        const user = JSON.parse(localStorage.getItem("userInfo"));
        let getAlluser;
        let listrequest;
        let listFriends;
        let directories;
        let listMess;
        let getAllIdRoom;
        var nameFriendChat;
        var idRoomChat;
        var socket = io.connect("http://13.212.21.120:3003");
        // var socket = io.connect("http://${ipv4}:3003");
        // var socket = io.connect("http://localhost:3003");

        async function loadDoc() {
            const userSend = {
                SDT: user.SDT,
            };
            const optionsUser = {
                method: "POST",
                body: JSON.stringify(userSend),
                headers: {
                    "Content-Type": "application/json",
                },
            };
            await fetch("http://54.255.212.173:3002/api/danhba", optionsUser)
                // await fetch("http://localhost:3002/api/danhba", optionsUser)
                .then((response) => response.json())
                .then(
                    await ((data) => {
                        getAlluser = data.user.getAlluser;
                        listFriends = data.user.listfriends;
                        document.getElementById("chat").style.display = "none";
                        let userName = `${user.ho} ${user.ten}`;
                        $("#userName").append(userName);
                        // avatar user đăng nhập
                        $("#userAvatar").attr("src", user.avatar);
                    })
                );

            loadRoom();
            getAlluser.forEach((user) => {
                listFriends.forEach((friend) => {
                    if (friend.sdtNguoiNhan === user.SDT) {
                        let friendAddGroup = `  <option value="${user._id}"> ${user.ho+' '+ user.ten}</option>`;
                        $("#friendAddGroup").append(friendAddGroup);
                    }
                });
            })

        }

        function loadRoom() {
            const inForUser = {
                method: "POST",
                body: JSON.stringify(user),
                headers: {
                    "Content-Type": "application/json",
                },
            };
            //
            // fetch("http://localhost:3003/group/api/allGroup", inForUser)
            // fetch("http://${ipv4}:3003/group/api/allGroup", inForUser)
            fetch("http://13.212.21.120:3003/group/api/allGroup", inForUser)
                .then((response) => response.json())
                .then((data) => {
                    getAllIdRoom = data.data;
                    /**
                     * Hiện  danh sách group của user
                     */
                    getAllIdRoom.forEach((allIdRoom) => {
                        if (allIdRoom.type == "ONE") {
                            if (allIdRoom.onwer === user._id) {
                                getAlluser.forEach((userChat) => {
                                    if (allIdRoom.idFriendChat.toString() === userChat._id) {
                                        if (allIdRoom.type == "ONE") {
                                            let getAllGroup = `
                                    <div id="danhba" class="tinnhan" data-toggle="modal" data-target="#myModalThongTinUser" onclick="joinGroup('${
                                    allIdRoom._id
                                    }',' ${allIdRoom.name}')">
                                        <div id="banbe" class="chatbox">
                                            <div class="avatarban">
                                                <img class="avatadanhba" src="${
                                                userChat.avatar
                                                }">
                                            </div>
                                            <div class="tenban">
                                                <p>
                                                    ${userChat.ho +" "+ userChat.ten}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                `;
                                            $("#getAllGroup").append(getAllGroup);
                                        }
                                    }
                                }); // lếu không trừng thì lấy onwer ra tìm thông tin rồi return ra tên
                            } else {
                                getAlluser.forEach((userChat) => {
                                    if (allIdRoom.onwer.toString() === userChat._id) {
                                        if (allIdRoom.type == "ONE") {
                                            let getAllGroup = `
                                    <div id="danhba" class="tinnhan" data-toggle="modal" data-target="#myModalThongTinUser" onclick="joinGroup('${
                                    allIdRoom._id
                                    }',' ${allIdRoom.name}')">
                                        <div id="banbe" class="chatbox">
                                            <div class="avatarban">
                                                <img class="avatadanhba" src="${
                                                userChat.avatar
                                                }">
                                            </div>
                                            <div class="tenban">
                                                <p>
                                                    ${userChat.ho +" "+ userChat.ten}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                `;
                                            $("#getAllGroup").append(getAllGroup);
                                        }
                                    }
                                });
                            }
                        } else if (allIdRoom.type == "TWO") {
                            let getAllGroup = `
                                <div id="danhba" class="tinnhan" data-toggle="modal" data-target="#myModalThongTinUser" onclick="joinGroup('${
                                    allIdRoom._id
                                    }',' ${allIdRoom.name}')">
                                    
                                        <div id="banbe" class="chatbox">
                                            <div class="avatarban">
                                                <img class="avatadanhba" src="${
                                                allIdRoom.avatarFriendChat
                                                }">
                                            </div>
                                            <div class="tenban">
                                                <p>
                                                    ${allIdRoom.name}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                `;
                            $("#getAllGroup").append(getAllGroup);
                        }
                    });
                });
        }

        function closeModel() {}
        /**
         * Tim Ban bằng số điện thoại
         */
        function TimThongTinUser() {
            const sdtTim = $("#sdtadd").val();
            if (!/(\d)/.exec($("#sdtadd").val())) {
                $("#messErrSDT").html("Không được nhập chữ");
                return;
            }
            if (!/(09|03|08|07)+([0-9]{8})\b/.exec($("#sdtadd").val())) {
                $("#messErrSDT").html("Sai định dạng số điện thoại");
                return;
            }
            for (let i = 0; i < getAlluser.length; i++) {
                if (getAlluser[i].SDT == sdtTim) {
                    $("#findAvatar").attr("src", getAlluser[i].avatar);
                    $("#lblHoTen").text(getAlluser[i].ho + getAlluser[i].ten);
                    $("#lblNgaySinh").text(getAlluser[i].ngaysinh);
                    $("#lblGioiTinh").text(getAlluser[i].gioitinh);
                    $("#lblSDT").text(getAlluser[i].SDT);
                    $("#lblEmail").text(getAlluser[i].email);
                    $("#sdtKetBan").val(getAlluser[i].SDT);
                    // return;
                }
            }
        }

        loadDoc();

        /**
         * Vào phòng chat
         */

        function joinGroup(idRoom, nameRoom) {
            $("#messagesBuble").html("");
            $("#avatarChat").html("");
            $("#namefriendchat").html("");
            $("#btnDeleteRoom").val("");

            document.getElementById("chat").style.display = "block";
            document.getElementById("slideshow").style.display = "none";

            idRoomChat = idRoom;
            const request = {
                name: user.email,
                room: idRoom,
            };
            socket.emit("join", request, () => {
                this.loadChat(idRoom);
            });
        }
        /**
         * Load tin nhắn trong phong chat
         */
        async function loadChat(idGroup) {
            let messItemUser;
            let messItemFriend;
            const optionsChat = {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            };
            // await fetch(`http://localhost:3003/message/${idGroup}`, optionsChat)
            // await fetch(`http://${ipv4}:3003/message/${idGroup}`, optionsChat)
            await fetch(`http://13.212.21.120:3003/message/${idGroup}`, optionsChat)
                .then((response) => response.json())
                .then((data) => {
                    listMess = data.data;

                    getAllIdRoom.forEach((allIdRom) => {
                        if (allIdRom._id === idRoomChat) {
                            if (allIdRom.type === 'ONE') {
                                console.log(allIdRom);
                                if (allIdRom.idFriendChat.toString() === user._id) {
                                    getAlluser.forEach((userChat) => {
                                        if (allIdRom.onwer === userChat._id) {
                                            nameFriendChat = userChat.ho + userChat.ten;
                                        }
                                    });
                                } else {
                                    getAlluser.forEach((userChat) => {
                                        if (allIdRom.idFriendChat.toString() === userChat._id) {
                                            nameFriendChat = userChat.ho + userChat.ten;
                                        }
                                    });
                                }
                            } else {
                                nameFriendChat = allIdRom.name;
                            }

                        }
                    });
                    //tên chat
                    $("#namefriendchat").append(nameFriendChat);
                    // set id room muốn xóa
                    $("#btnDeleteRoom").val(idRoomChat);

                    listMess.forEach((value) => {
                        console.log(value);
                        if (value.user.email === user.email) {
                            messItemUser = `
                                <div style="height: 71px;">
                                  <div id="meMessageBox" v-chat-scroll>
                                    <div id="meMessage">
                                      <span id="msgSpan">${value.content}</span>
                                    </div>
                                      <div id="me">
                                        <img class="avatarMessChat" id="userAvatar" class="avatarpopup" src="${user.avatar}">
                                      </div>
                                  </div>
                                </div>`;
                            $("#messagesBuble").append(messItemUser);
                        } else {
                            messItemFriend = `
                                  <div style="height: 71px;">
                                    <div id="messageBox">
                                      <div id="me"><img class="avatarMessChat" id="userAvatar" class="avatarpopup" src="${value.image}"> </div>
                                      <div id="message">
                                        <span id="msgSpan">${value.content}</span>
                                      </div>
                                    </div>
                                  </div>`;

                            $("#messagesBuble").append(messItemFriend);
                        }
                    });
                    getListChat();
                });
            $("#messagesBuble")
                .stop()
                .animate({
                        scrollTop: $("#messagesBuble")[0].scrollHeight,
                    },
                    100
                );
        }

        function deleteRoom(ipDeleteRoom) {
            console.log(ipDeleteRoom);
            const optionsDeleteRoom = {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
            };
            // fetch(`http://localhost:3003/group/api/deleteRoom${ipDeleteRoom}`, optionsDeleteRoom)
            // fetch(`http://${ipv4}:3003/group/api/deleteRoom${ipDeleteRoom}`,optionsDeleteRoom)
            fetch(`http://13.212.21.120:3003/group/api/deleteRoom${ipDeleteRoom}`, optionsDeleteRoom)
                .then((response) => response.json())
                .then((data) => {
                    if (data.error === false) {
                        window.location.href = "/chat";
                    }
                });
        }

        function CreateGroup() {
            let nameGroup = $("#nameGroup").val();
            let idFriendChat = $("#friendAddGroup").val();
            console.log(idFriendChat);

            const info = {
                name: nameGroup,
                onwer: user._id,
                type: "TWO",
                idFriendChat: idFriendChat,
                avatarFriendChat: user.avatar,
            };
            const options = {
                method: "POST",
                body: JSON.stringify(info),
                headers: {
                    "Content-Type": "application/json",
                },
            };
            // fetch("http://localhost:3003/group/api/createRoom", options)
            // fetch("http://${ipv4}:3003/group/api/createGroup", options)
            fetch("http://13.212.21.120:3003/group/api/createRoom", options)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data.message);
                    if (data.error === false) {
                        window.location.href = "/chat";
                    }

                });
        }

        function onSendMess() {
            const messInput = $("#messageInput").val();
            let messItem = {
                text: messInput,
                type: "TEXT",
                image: user.avatar
            };
            socket.emit("sendMessage", messItem, () => {
                messItemUser = `
                        <div style="height: 71px;">
                            <div id="meMessageBox" v-chat-scroll>
                                <div id="meMessage">
                                    <span id="msgSpan">${messInput}</span>
                                </div>
                                <div id="me">
                                    <img class="avatarMessChat" id="userAvatar" class="avatarpopup" src="${user.avatar}">
                                </div>
                            </div>
                        </div>`;
                $("#messagesBuble").append(messItemUser);
            });
        }

        function getListChat() {
            socket.on("message", (data) => {
                console.log(data);
                const messItem = {
                    text: data.text,
                    type: "TEXT",
                    image: data.image
                }
                if (data.user !== user.email) {
                    messItemFriend = `
                            <div style="height: 71px;">
                                <div id="messageBox">
                                    <div id="me"><img class="avatarMessChat" id="userAvatar" class="avatarpopup" src="${data.image}"> </div>
                                    <div id="message">
                                            <span id="msgSpan">${data.text}</span>
                                    </div>
                                </div>
                            </div>`;
                    $("#messagesBuble").append(messItemFriend);
                }

                /**
                 * Cuộn tin nhắn xuống dưới cùng
                 */
                $("#messagesBuble")
                    .stop()
                    .animate({
                            scrollTop: $("#messagesBuble")[0].scrollHeight,
                        },
                        100
                    );
                return listMess.push(messItem);
            });
        }
        var iduser = user._id;
        console.log(iduser);

        function handleUpdateProduct(iduser) {
            $(location).attr('href', '/update-user/' + iduser);
        }
    </script>
</head>

<body>
    <div class="sidenav">
        <img class="avata" id="userAvatar" class="avatarpopup" src="" onclick="handleUpdateProduct(iduser)">
        <div id="mkshow" style="display: none;">
            <input class="btn btn-light" type="button" value="Edit pass" data-toggle="modal" data-target="#">
            <div id="close1" class="itemShow">Đóng</div>
        </div>
        <div class="iconoption">
            <a href="/chat"><img src="images/chat.png" class="option" title="Chat"></a>
            <a href="/danhba"><img src="images/contacts1.png" alt="" class="option" title="Danh bạ"></a>
            <a href="/" style="position: absolute; bottom: 10px"><img src="images/logout.png" alt="" class="option"></a>
        </div>
    </div>
    <div class="container-fluid" style="margin-left: 70px;">
        <div class="row">
            <div class="col-3 nopadding" id="banbe" style="border-right: 1px solid rgb(231, 231, 231);">

                <div class="title">
                    <div class="titleName">
                        <h5><span id="userName">Tumblrz - </span></h5>
                    </div>
                </div>

                <div id="timkiemban" class="themdanhba" data-toggle="modal" data-target="#myModalTimban">
                    <img src="images/add.png" width="40px" height="40px" style="margin-top: 6px;">
                    <p style="padding-top: 14px; font-size: 15px;">Thêm bạn bằng số điện thoại</p>
                </div>
                <div id="sdt" class="themdanhbasdt" data-toggle="modal" data-target="#modaltaonhom">
                    <img src="images/people.png" width="40px" height="40px" style="margin-top: 6px;">
                    <p style="padding-top: 14px; margin-left: 20px;">Tạo nhóm</p>
                </div>
                <hr>
                <div class="titlekb" style="display: flex; margin-top: 20px; margin-left: 10px;">
                    <p style="font-weight: 400; margin-right: 5px; ">Bạn bè</p> (<span id="countbanbe"></span>)
                </div>
                <!-- thông tin bạn -->
                <div id="getAllGroup">
                    <div id="danhba" class="tinnhan" data-toggle="modal" data-target="#myModalThongTinUser">

                    </div>
                </div>
            </div>

            <div class="col-9 nopadding">
                <div id="slideshow">

                    <h3 style="margin-top:50px">Chào mừng bạn đến với Tumblrz</h3>
                    <p>Trò chuyện cùng bạn bè và gắn kết yêu thương</p>


                    <div>
                        <img src="images/41.jpg">
                    </div>
                    <div>
                        <img src="images/hinh1.jpg">
                    </div>
                </div>
                <div id="chat" style="display: none;">
                    <div class="inforFriend">
                        <p id="namefriendchat"></p>
                        <input type="hidden" id="namechat">
                        <div class="more">
                            <div data-toggle="collapse" data-target="#demo" id="showMore">
                                <img class="iconDemo" src="images/more.png" alt="" style="margin-left: 10px;">
                            </div>
                        </div>
                    </div>
                    <div id="show">
                        <div class="itemShow" data-toggle="modal" data-target="#XacNhanXoaTN">Xóa nhóm</div>
                        <div class="itemShow" data-toggle="modal" data-target="#XacNhanXoaTN">Rời nhóm</div>
                        <div id="close" class="itemShow">Đóng</div>
                    </div>
                    <div class="tacvu">
                        <img class="iconDemo" src="images/image.png" alt="">
                        <img class="iconDemo" src="images/emoji.png" alt="" style="margin-left: 10px;">
                        <img class="iconDemo" src="images/paper-clip.png" style="margin-left: 10px;" alt="">
                        <img class="iconDemo" src="images/clock.png" alt="" style="margin-left: 10px;">
                        <img class="iconDemo" src="images/card.png" alt="" style="margin-left: 10px;">
                    </div>


                    <div class="nhaptinnhan" style="display: flex;" id="A" onclick="fnChangeBorder('A')">
                        <!-- <form class="form-group"> -->
                        <div class="chat">
                            <input class="inputchat" id='messageInput' type='text' placeholder="Gửi tin nhắn  " autofocus>
                            <img class="iconDemo" src="images/emoji.png" alt="" style="margin-left: 10px;">
                            <img class="iconDemo" src="images/a.png" alt="" style="margin-left: 10px;">
                            <img class="iconDemo" src="images/tim.png" alt="" style="margin-left: 10px; margin-right: 20px">
                            <button hidden type="submit" class="btnchat" id="submit_chat" onclick="onSendMess()"> Send</button>

                        </div>
                        <!-- </form> -->
                    </div>
                    <br>
                    <!-- khung chat -->
                    <div id='messagesBuble'>
                        <div id="conversation">
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Có muốn xóa tin nhắn không -->
    <div class="modal fade" id="XacNhanXoaTN" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h4>Bạn có chắc chắn xóa tin nhắn?</h4>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btnXoaTNred" id="btnDeleteRoom" type="button" onclick="deleteRoom(this.value)">Xóa</button>
                    <button class="btnXoaTN" type="button" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <!-- The Modal tìm bạn-->
    <div class="modal" id="myModalTimban">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="text-align: center">
                    <h4 class="modal-title">Tìm kiếm bạn bè</h4>
                    <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <!-- <p>Nhập số điện thoại:</p> -->
                    <div class="input-prepend" style="border: none; box-shadow: none">
                        <span style="
                  background: url('https://zalo-chat-static.zadn.vn/v1/emoji.png?v=20180604')
                    76% 97.5% / 5100%;
                  -webkit-user-drag: none;
                  width: 26px;
                  height: 26px;
                  display: inline-block;
                  vertical-align: top;
                  margin-right: 10px;
                "></span
              >(+84)
              <input type="text"id="sdtadd"
name="sdtadd"
                class="input-prepended"
                maxlength="10"
                required
                title="Vui lòng điền số điện thoại "
                placeholder="Số điện thoại "
                value=""
                style="
                  border: none;
                  box-shadow: none;
                  left: 10px;
                  position: relative;
                "
                pattern="[^a-zA-z]"
              />
            </div>

            <div
              class="form-group"
              style="
                margin-top: 30px;
                display: flex;
                height: 40px;
                width: 200px;
              "
            >
              <button
                type="button"
                class="btn btn-primary"
                style="margin-right: 10px"
                onclick="TimThongTinUser()"
              >
                Tìm kiếm
              </button>
              <button type="button" class="btn btn-light" data-dismiss="modal">
                Đóng
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal hiện ra tạo nhóm-->
    <div class="modal" id="modaltaonhom">
      <div class="modal-dialog ">
          <div class="modal-content ">
              <!-- Modal Header -->
              <div class="modal-header ">
                  <h4 class="modal-title ">Tạo nhóm</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body ">
                  <div class="form-group">
                      <label style="font-weight: 500;">Tên nhóm:</label>
                      <input id="nameGroup" type="text" class="form-control" placeholder="Tên nhóm" >
                  </div>

                  <div class="form-group">
                      <div class="form-group">
                          <label style="font-weight: 500;">Mời thêm bạn vào trò chuyện:</label>

                    </div>
                    <select id="friendAddGroup" class="select2" name="states[]" multiple="multiple" required>
                      
                        </select>
                </div>
            </div>
            <div class="modal-footer">
                <button
                  type="button"
                  class="btntao"
                  onclick="CreateGroup()"
                >
                  Tạo
                </button>
                <button
                  type="button"
                  class="btnXoaTNred"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
        </div>
    </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script  type= text/javascript>
        $('.select2').select2();

    </script>

    <script>
        document.getElementById("showMore").onclick = function() {
            document.getElementById("show").style.display = 'block';
        };
        document.getElementById("close").onclick = function() {
            document.getElementById("show").style.display = 'none';
        };
        // document.getElementById("userAvatar").onclick = function() {
        //     document.getElementById("mkshow").style.display = 'block';
        // };
        document.getElementById("close1").onclick = function() {
            document.getElementById("mkshow").style.display = 'none';
        };
        $('.select2').select2();


    </script>
    <script>
        function fnChangeBorder(boxId) {
            document.getElementById(boxId).style.borderTop = "1px solid blue";
        }
    </script>
    <script>
        var out = document.getElementById("messagesBuble");
        // allow 1px inaccuracy by adding 1
        var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
    </script>
    <script>
        $("#slideshow > div:gt(0)").hide();
        setInterval(function() {
            $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
        }, 3000);
    </script>
    <script>
        var messageInput = document.getElementById("messageInput");
        var messageBuble = document.getElementById('messagesBuble');
        var conversationDiv = document.getElementById('conversation');
        messageInput.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("submit_chat").click();
                messageInput.value = '';
            }
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>