<head>
    <title>Tumblrz chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/stylechatnew.css" />

    <script>
        localStorage.removeItem('userInfo');

        function Dangnhap() {
            const email = document.getElementById("email").value;
            console.log(email);

            const options = {
                method: 'POST',
                body: JSON.stringify(taikhoan),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            fetch('http://54.255.212.173:3002/api/login', options)
                // fetch('http://localhost:3002/api/login', options)
                .then(response => response.json())
                .then(data => {
                    if (data.error === false) {
                        localStorage.setItem('userInfo', JSON.stringify(data.data));
                        console.log(data.message);
                        window.location.href = '/danhba'
                    } else {
                        let messEr = `${data.message}`;
                        console.log(messEr);
                        $('#mess').show();
                        $('#mess').empty();
                        $('#mess').addClass('alert alert-danger')
                        $('#mess').append(messEr);
                    }

                })
        }
    </script>

</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="images/logotb.png" alt="IMG">
                </div>

                <form class="login100-form validate-form">
                    <!-- <span class="login100-form-title">Login</span> -->

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="email" id="email" name="email" placeholder="User name" value="<%=mail %>">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" id="pass" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="messageError">
                        <span id="mess">
                        </span>
                        <div class="container-login100-form-btn">
                            <button type="button" class="login100-form-btn" onclick=Dangnhap()>
                                Login
                            </button>
                        </div>
                        <div class="text-center p-t-136">
                            <a class="txt2" href="/dangki">
                                Create your Account
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                </form>
                </div>
            </div>
        </div>


        <script src="js/main.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>