<!doctype html>
<html lang="en">

<head>
    <title>Đăng kí</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styledk.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function dangki() {
            const email = document.getElementById("emaildk").value;
            if (!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.exec($("#emaildk").val()))) {
                $("#mess").html("Nhập sai định dạng email");
                return;
            }
            const thongtin = {
                'email': email
            }
            const options = {
                method: 'POST',
                body: JSON.stringify(thongtin),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            fetch('http://54.255.212.173:3002/api/otp', options)
                .then(response => response.json())
                .then(data => {
                    window.location.href = '/otp'
                })

        }
    </script>
</head>

<body style="background-image: url(images/background.png);">
    <div class="content">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#email">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#sdt">Số điện thoại</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="email" class="container tab-pane active">

                <form action="/guimail" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input id="emaildk" type="email" value="sugiadianguc2030@gmail.com" class="form-control" name="email" placeholder="name@example.com">
                        <span id="mess"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng kí</button>
                </form>

            </div>
            <div id="sdt" class="container tab-pane fade">
                <form>
                    <label for="InputName">Số điện thoại</label>
                    <div class="form-group" style="display: flex;">

                        <input type="tel" required maxlength="10" class="form-control" id="phoneNumber" placeholder="Phone number">
                        <button type="button" class="btn btn-light" id="sign-in-button" onclick="submitPhoneNumberAuth()">Lấy mã</button>
                    </div>
                    <div id="otpcheck" style="display: none;">
                        <label for="InputName">Mã xác thực:</label>
                        <div class="form-group" style="display: flex;">
                            <input type="text" class="form-control" id="code" placeholder="######">
                            <button type="button" class="btn btn-primary" id="sign-in-button" onclick="submitPhoneNumberAuthCode()">Đăng kí</button>
                        </div>
                    </div>
                    <span id="messOTP"></span>
                    <span id="recaptcha-container"></span>
                    <br>
                    <br>
                    <br>
                </form>

            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <!-- Add the latest firebase dependecies from CDN -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>

    <script>
        // Paste the config your copied earlier
        var firebaseConfig = {
            apiKey: "AIzaSyDOHMwp2w96idhDA8oTYIDAGRnovmZxhfM",
            authDomain: "tumblrzotp-ef5c4.firebaseapp.com",
            projectId: "tumblrzotp-ef5c4",
            storageBucket: "tumblrzotp-ef5c4.appspot.com",
            messagingSenderId: "233205659876",
            appId: "1:233205659876:web:5842045a22354df9bb54f1",
            measurementId: "G-046TZ28949"
        };

        firebase.initializeApp(firebaseConfig);

        // Create a Recaptcha verifier instance globally
        // Calls submitPhoneNumberAuth() when the captcha is verified
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
            "recaptcha-container", {
                size: "normal",
                callback: function(response) {
                    submitPhoneNumberAuth();
                }
            }
        );

        // This function runs when the 'sign-in-button' is clicked
        // Takes the value from the 'phoneNumber' input and sends SMS to that phone number
        function submitPhoneNumberAuth() {
            if (!(/(\d)/.exec($("#phoneNumber").val()))) {
                $("#messOTP").html("Không được nhập chữ");
                return;
            }

            if (!(/(09|03|08|07)+([0-9]{8})\b/.exec($("#phoneNumber").val()))) {
                $("#messOTP").html("Sai định dạng số điện thoại");
                return;
            }
            document.getElementById('otpcheck').style.display = "block";
            var phoneNumber = document.getElementById("phoneNumber").value;
            phoneNumber = '+84' + phoneNumber.substr(1, 9);
            var appVerifier = window.recaptchaVerifier;

            firebase
                .auth()
                .signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function(confirmationResult) {

                    window.confirmationResult = confirmationResult;
                    console.log('gửi thành công!');

                })
                .catch(function(error) {
                    console.log(error);
                });
        }

        // This function runs when the 'confirm-code' button is clicked
        // Takes the value from the 'code' input and submits the code to verify the phone number
        // Return a user object if the authentication was successful, and auth is complete
        function submitPhoneNumberAuthCode() {
            var phoneNumber = document.getElementById("phoneNumber").value;
            var code = document.getElementById("code").value;
            confirmationResult
                .confirm(code)
                .then(function(result) {
                    var user = result.user;
                    console.log(user);
                    window.location.href = '/newUser'
                })
                .catch(function(error) {
                    console.log(error);
                    $("#messOTP").html('Sai mã OTP');
                });
        }

        //This function runs everytime the auth state changes. Use to verify if the user is logged in
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                console.log("USER LOGGED IN");
            } else {
                // No user is signed in.
                console.log("USER NOT LOGGED IN");
            }
        });
    </script>
</body>

</html>