<!doctype html>
<html lang="en">

<head>
    <title>Danh Bạ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/stylechat.css">
    <link rel="stylesheet" type="text/css" href="/css/stylechatnew.css" />
    <link rel="stylesheet" type="text/css" href="/css/alert.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        let ipv4;
        $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function(data) {
            localStorage.removeItem("ipv4");
            localStorage.setItem('ipv4', JSON.stringify(data.ip, null, 2));
        });
        ipv4 = JSON.parse(localStorage.getItem("ipv4"));
        console.log(ipv4);

        const user = JSON.parse(localStorage.getItem("userInfo"));
        let getAlluser;
        let listrequest;
        let listfriends;
        let directories;

        function loadDoc() {

            const userSend = {
                "SDT": user.SDT
            }
            const optionsUser = {
                method: 'POST',
                body: JSON.stringify(userSend),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            fetch('http://54.255.212.173:3002/api/danhba', optionsUser)
                // fetch('http://localhost:3002/api/danhba', optionsUser)
                .then(response => response.json())
                .then(data => {
                    listfriends = data.user.listfriends;
                    listrequest = data.user.listrequest;
                    directories = data.user.directories;
                    getAlluser = data.user.getAlluser;
                    for (let i = 0; i < getAlluser.length; i++) {
                        let status = "false";
                        /**
                         * loại bỏ tài khoản admin
                         */
                        if (getAlluser[i].email != "admin@gmail.com") {
                            /**
                             * lọc user đang đang nhập
                             */
                            if (getAlluser[i].SDT == user.SDT) {
                                status = "true";
                            }
                            /**
                             * lọc danh sách bạn
                             */
                            for (let z = 0; z < listfriends.length; z++) {
                                if (listfriends[z].sdtNguoiGui == getAlluser[i].SDT || listfriends[z].sdtNguoiNhan == getAlluser[i].SDT) {
                                    status = "true";
                                }
                            }
                            /**
                             * lọc các yêu cầu
                             */
                            for (let j = 0; j < listrequest.length; j++) {
                                if (listrequest[j].sdtNguoiGui == getAlluser[i].SDT || listrequest[j].sdtNguoiNhan == getAlluser[i].SDT) {
                                    status = "true";
                                }
                            }
                            /**
                             * Hiện danh sách gợi ý yêu cầu kết bạn
                             */
                            if (status == "false") {
                                status = "false";
                                let gykb = `
                                    <form>
                                    <div class="itemgoiykb" id="itemgykb" style="text-align: center;">
                                        <div class="">
                                            <img class="avatagykb" src="${getAlluser[i].avatar}"/>
                                        </div>
                                            <div class="">
                                                <h5>${getAlluser[i].ho} ${getAlluser[i].ten}</h5>
                                            </div>
                                                <div class="">
                                                    <button type="button" class="btn btn-primary" onclick="KetBanGoiY('${getAlluser[i].SDT}')"
                                                    style="margin-top: 20px;"">Kết bạn</button>
                                                </div>
                                            </div>
                                        </form>
                                    `;
                                $('#gykb').append(gykb);
                            }
                        }
                    }
                    /**
                     * Hiện danh sách friend
                     */
                    for (let i = 0; i < listfriends.length; i++) {
                        if (listfriends[i].trangthaixacnhan == 'true') {
                            /**
                             * click vào hàm XemThongTinUser -> mở và truyền dữ liệu vào model myModalThongTinUser
                             */
                            let userInfos = `
                                <div id="danhba" class="tinnhan" data-toggle="modal" data-target="#myModalThongTinUser" 
                                    onclick="XemThongTinUser('${listfriends[i].sdtNguoiNhan}')">
                                    <div id="banbe" class="chatbox">
                                        <div class="avatarban">
                                            <img class="avatadanhba" src="${listfriends[i].avatarNguoiNhan}">
                                        </div>
                                        <div class="tenban">
                                            <p>
                                                ${listfriends[i].tenNguoiNhan}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            `;
                            $('#userInfo').append(userInfos);
                        }
                    }

                    /**
                     * Hiện danh sách yêu cầu kết bạn
                     */
                    for (let i = 0; i < listrequest.length; i++) {
                        if (listrequest[i].trangthaixacnhan == 'false') {
                            let listAcceptFriend = `
                                <div class="chodongykb">
                                    <form>
                                        <div class="row">
                                            <div class="dsketban">
                                                <div class="chatboxavatar">
                                                    <img class="avatachodongykb" src="${listrequest[i].avatarNguoiGui}">
                                                </div>
                                                <div class="noidung">
                                                    <h5>
                                                        ${listrequest[i].tenNguoiGui}
                                                    </h5><span>Hello, kết bạn với mình nha</span>
                                                </div>
                                                <div class="btnchodongykb">
                                                    <button type="button" class="btn btn-primary" value="yes" name="DongY"
                                                        style="margin-right: 10px;" onclick="DongYKetBan('${listrequest[i].sdtNguoiGui}')">Đồng ý</button>
                                                    <button type="button" class="btn btn-light" value="no" name="KhongDongY"
                                                    onclick="KhongDongYKetBan('${listrequest[i].sdtNguoiGui}')">Bỏ qua</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                `;
                            $("#listAcceptFriend").append(listAcceptFriend);
                        }
                    }
                    /**
                     * Hiện danh sách danh bạ
                     */
                    for (let i = 0; i < directories.length; i++) {
                        let tbAddNumberPhone = `
                            <tr>
                                <td>
                                    ${directories[i].ten}
                                </td>
                                <th>
                                    ${directories[i].sdt}
                                </th>
                                <td>
                                    <button class="btn btn-primary" type="button" value="SuaSDT" data-dismiss="modal" data-toggle="modal" data-target="#myModalSuaSDT" 
                                    onclick="SuaSDTDanhBa('${directories[i]._id}','${directories[i].ten}','${directories[i].sdt}')">Sửa</button>
                                    <button class="btn btn-danger" type="button" value="XoaSDT"
                                    onclick="XoaSDTDanhBa('${directories[i]._id}')">Xóa</button>
                                </td>
                            `;
                        $("#tbNumberPhone").append(tbAddNumberPhone);
                    }



                    let fixPhoneNumber = `
                            <form class="form-group">
                                <div class="col-6 col-sm-4 form-group">
                                    <label>Họ tên:</label>
                                </div>
                                <div class="col-6 col-sm-8 form-group">
                                    <input type="text" name="newten" id="newten">
                                </div>
                                <div class="messageError">
                                    <span id="messErrNameFix"></span>
                                </div>
                                <div class="col-6 col-sm-4 form-group">
                                    <label>Số điện thoại:</label>
                                </div>
                                <div class="col-6 col-sm-8 form-group">
                                    <input type="text" name="newsdt" id="newnumber">
                                </div>
                                <div class="messageError">
                                    <span id="messErrSDTFix"></span>
                                </div>
                                <input hidden type="text" id="idSua" value="">
                                <button class="btn btn-primary" type="button" onclick="SuaThongTinDanhBa()">Sửa</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal" data-toggle="modal"
                                data-target="#myModalDanhBa" >Đóng</button>
                            </form>
                            `;
                    $("#fixPhoneNumber").append(fixPhoneNumber);
                    // tên user đăng nhập
                    let userName = `${user.ho} ${user.ten}`;
                    $("#userName").append(userName);
                    // avatar user đăng nhập
                    $("#userAvatar").attr("src", user.avatar);

                    //đếm số lời mời kế bạn
                    var parent = document.getElementById("gykb");
                    var nodesSameClass = parent.getElementsByClassName("itemgoiykb");
                    count2 = nodesSameClass.length;
                    $('#count2').html(count2);

                    //đếm số danh sách kết bạn
                    var parent1 = document.getElementById("danhsachkb");
                    var nodesSameClass1 = parent1.getElementsByClassName("chodongykb");
                    count1 = nodesSameClass1.length;
                    $('#count1').html(count1);

                    //đếm số bạn
                    var parentbb = document.getElementById("banbe");
                    var nodesSameClassbb = parentbb.getElementsByClassName("tenban");
                    countbanbe = nodesSameClassbb.length;
                    $('#countbanbe').html(countbanbe);

                });
        }


        function TaoRoom() {
            const sdt = $("#sdtKetBan").val();
            for (let i = 0; i < getAlluser.length; i++) {
                if (getAlluser[i].SDT == sdt) {
                    const thongtin = {
                        "name": getAlluser[i].ten,
                        "onwer": user._id,
                        "type": "ONE",
                        "idFriendChat": [getAlluser[i]._id],
                        "avatarFriendChat": getAlluser[i].avatar
                    }
                    console.log(thongtin);
                    const options = {
                            method: 'POST',
                            body: JSON.stringify(thongtin),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }
                        // fetch('http://${ipv4}:3003/group/api/createRoom', options)
                        // fetch('http://localhost:3003/group/api/createRoom', options)
                    fetch('http://13.212.21.120:3003/group/api/createRoom', options)
                        .then(response => response.json())
                        .then(data => {
                            window.location.href = '/chat';
                        })
                }
            }

        }
        /**
         * Truyền dữ liệu về thông tin friend vào model myModalThongTinUser
         */
        function XemThongTinCaNhan() {
            $("#findAvatarCN").attr("src", user.avatar);
            $("#lblHoTenCN").text(user.ho + " " + user.ten);
            $("#lblNgaySinhCN").text(user.ngaysinh);
            $("#lblGioiTinhCN").text(user.gioitinh);
            $("#lblSDTCN").text(user.SDT);
            $("#lblEmailCN").text(user.email);
            // $("#sdtKetBan").val(user.SDT);
            // $("#btnKetBan").hide();
            // $("#btnHuyKetBan").show();
            // $("#btntaoroom").show();
            // $("#btnXacNhanYeuCau").hide();
            // $("#btnHuyXacNhanYeuCau").hide();
            // $("#btnHuyYeuCau").hide();
        }

        function XemThongTinUser(sdtfriend) {

            for (let i = 0; i < getAlluser.length; i++) {
                if (getAlluser[i].SDT == sdtfriend) {
                    $("#findAvatar").attr("src", getAlluser[i].avatar);
                    $("#lblHoTen").text(getAlluser[i].ho + " " + getAlluser[i].ten);
                    $("#lblNgaySinh").text(getAlluser[i].ngaysinh);
                    $("#lblGioiTinh").text(getAlluser[i].gioitinh);
                    $("#lblSDT").text(getAlluser[i].SDT);
                    $("#lblEmail").text(getAlluser[i].email);
                    $("#sdtKetBan").val(getAlluser[i].SDT);
                    $("#btnKetBan").hide();
                    $("#btnHuyKetBan").show();
                    $("#btntaoroom").show();
                    $("#btnXacNhanYeuCau").hide();
                    $("#btnHuyXacNhanYeuCau").hide();
                    $("#btnHuyYeuCau").hide();
                    return;
                }
            }
        }
        /**
         * Truyền dữ liệu về thông tin user khi tìm kiếm bạn
         */
        function TimThongTinUser() {
            const sdtTim = $("#sdtadd").val();
            if (!(/(\d)/.exec($("#sdtadd").val()))) {
                $("#messErrSDT").html("Không được nhập chữ");
                return;
            }
            if (!(/(09|03|08|07)+([0-9]{8})\b/.exec($("#sdtadd").val()))) {
                $("#messErrSDT").html("Sai định dạng số điện thoại");
                return;
            }
            if (user.SDT == sdtTim) {
                $(".modal-backdrop").remove();
                $("#sdtadd").val("");
                $("#findAvatar").attr("src", user.avatar);
                $("#lblHoTen").text(user.ho + user.ten);
                $("#lblNgaySinh").text(user.ngaysinh);
                $("#lblGioiTinh").text(user.gioitinh);
                $("#lblSDT").text(user.SDT);
                $("#lblEmail").text(user.email);
                $("#sdtKetBan").val(user.SDT);
                $("#btnXacNhanYeuCau").hide();
                $("#btnHuyXacNhanYeuCau").hide();
                $("#btnHuyKetBan").hide();
                $("#btnHuyYeuCau").hide();
                $("#btnKetBan").hide();
                $("#btntaoroom").hide();
                $('#myModalTimban').toggle();
                $('#myModalTimban').attr("class", "modal");
                $("#hienModelThongTin").click();
                return;
            }
            for (let i = 0; i < listfriends.length; i++) {
                if (listfriends[i].sdtNguoiNhan == sdtTim) {
                    $(".modal-backdrop").remove();
                    $("#findAvatar").attr("src", listfriends[i].avatarNguoiNhan);
                    $("#lblHoTen").text(listfriends[i].tenNguoiNhan);
                    $("#lblNgaySinh").text(listfriends[i].ngaysinhNguoiNhan);
                    $("#lblGioiTinh").text(listfriends[i].gioitinhNguoiNhan);
                    $("#lblSDT").text(listfriends[i].sdtNguoiNhan);
                    $("#lblEmail").text(listfriends[i].emailNguoiNhan);
                    $("#sdtKetBan").val(listfriends[i].sdtNguoiNhan);
                    $("#btnKetBan").hide();
                    $("#btntaoroom").show();
                    $("#btnXacNhanYeuCau").hide();
                    $("#btnHuyXacNhanYeuCau").hide();
                    $("#sdtadd").val("");
                    if (listfriends[i].trangthaixacnhan == 'true') {
                        $("#btnHuyKetBan").show();
                        $("#btnHuyYeuCau").hide();
                    } else {
                        $("#btnHuyKetBan").hide();
                        $("#btnHuyYeuCau").show();
                    }
                    $('#myModalTimban').toggle();
                    $('#myModalTimban').attr("class", "modal");
                    $("#hienModelThongTin").click();
                    return;
                }
            }
            for (let i = 0; i < listrequest.length; i++) {
                if (listrequest[i].sdtNguoiGui == sdtTim) {
                    for (let y = 0; y < getAlluser.length; y++) {
                        if (getAlluser[y].SDT == sdtTim) {
                            $(".modal-backdrop").remove();
                            $("#findAvatar").attr("src", getAlluser[y].avatar);
                            $("#lblHoTen").text(getAlluser[y].ho + " " + getAlluser[y].ten);
                            $("#lblNgaySinh").text(getAlluser[y].ngaysinh);
                            $("#lblGioiTinh").text(getAlluser[y].gioitinh);
                            $("#lblSDT").text(getAlluser[y].SDT);
                            $("#lblEmail").text(getAlluser[y].email);
                            $("#sdtKetBan").val(getAlluser[y].SDT);
                            $("#btnHuyKetBan").hide();
                            $("#btnHuyYeuCau").hide();
                            $("#btnXacNhanYeuCau").show();
                            $("#btnHuyXacNhanYeuCau").show();
                            $("#btnHuyYeuCau").hide();
                            $("#btnKetBan").hide();
                            $("#btntaoroom").hide();
                            $("#sdtadd").val("");
                            $('#myModalTimban').toggle();
                            $('#myModalTimban').attr("class", "modal");
                            $("#hienModelThongTin").click();
                            return;
                        }
                    }
                }
            }
            for (let i = 0; i < getAlluser.length; i++) {
                if (getAlluser[i].SDT == sdtTim) {
                    $(".modal-backdrop").remove();
                    $("#findAvatar").attr("src", getAlluser[i].avatar);
                    $("#lblHoTen").text(getAlluser[i].ho + " " + getAlluser[i].ten);
                    $("#lblNgaySinh").text(getAlluser[i].ngaysinh);
                    $("#lblGioiTinh").text(getAlluser[i].gioitinh);
                    $("#lblSDT").text(getAlluser[i].SDT);
                    $("#lblEmail").text(getAlluser[i].email);
                    $("#sdtKetBan").val(getAlluser[i].SDT);
                    $("#btnHuyKetBan").hide();
                    $("#btnHuyYeuCau").hide();
                    $("#btnXacNhanYeuCau").hide();
                    $("#btnHuyXacNhanYeuCau").hide();
                    $("#btnKetBan").show();
                    $("#btntaoroom").hide();
                    $("#sdtadd").val("");
                    $('#myModalTimban').toggle();
                    $('#myModalTimban').attr("class", "modal");
                    $("#hienModelThongTin").click();
                    return;
                }
            }
            $("#messErrSDT").html("Không tìm thấy người dùng");
            return;
        }
        /**
         * Thiệt lập body qua số điện thoại
         */
        function KetBan() {
            let sdtKetBan = $("#sdtKetBan").val();
            const paramKetBan = {
                "sdtuser": sdtKetBan,
                "user": user
            }
            GuiYeuCauKetBan(paramKetBan);
        };
        /**
         * Thiết lập body qua gợi ý kết bạn
         */
        function KetBanGoiY(sdtGoiY) {
            const paramGoiY = {
                "sdtuser": sdtGoiY,
                "user": user
            }
            GuiYeuCauKetBan(paramGoiY);
        };
        /**
         * Hàm Gửi Yêu cầu kết bạn
         */
        function GuiYeuCauKetBan(reqKetBan) {
            const optionsKetBan = {
                    method: 'POST',
                    body: JSON.stringify(reqKetBan),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                // fetch('http://localhost:3002/api/ketban', optionsKetBan)
            fetch('http://54.255.212.173:3002/api/ketban', optionsKetBan)
                .then(response => response.json())
                .then(data => {
                    if (data.error === true) {
                        window.location.href = '/danhba';
                    }
                });
        }
        /**
         * Gửi yêu cầu hủy kết bạn
         */
        function HuyKetBan() {
            const sdtHuyKetBan = $("#sdtKetBan").val();
            const paramHuyKetBan = {
                "sdtuser": sdtHuyKetBan,
                "SDT": user.SDT
            }
            const optionsHuyKetBan = {
                    method: 'POST',
                    body: JSON.stringify(paramHuyKetBan),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                // fetch('http://localhost:3002/api/xoaban', optionsHuyKetBan)
            fetch('http://54.255.212.173:3002/api/xoaban', optionsHuyKetBan)
                .then(response => response.json())
                .then(data => {
                    if (data.error === true) {
                        window.location.href = '/danhba';
                    }
                });
        }
        /**
         * Thiết lập param đồng ý kết bạn
         */
        function DongYKetBan(sdtNguoiGui) {
            const paramDongYKetBan = {
                "xacnhan": "yes",
                "sdtuser": sdtNguoiGui,
                "user": user
            }
            console.log(sdtNguoiGui);
            XacNhanKetBan(paramDongYKetBan);
        }
        /**
         * Thiết lập param không đồng ý kết bạn
         */
        function KhongDongYKetBan(sdtNguoiGui) {
            const paramKhongDongYKetBan = {
                "xacnhan": "no",
                "sdtuser": sdtNguoiGui,
                "user": user
            }
            XacNhanKetBan(paramKhongDongYKetBan);
        }
        /**
         * Hàm Gửi Yêu cầu xác nhận kết bạn
         */
        function XacNhanKetBan(reqXacNhanKetBan) {
            const optionsXacNhanKetBan = {
                    method: 'POST',
                    body: JSON.stringify(reqXacNhanKetBan),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                // fetch('http://localhost:3002/api/xacyeucau', optionsXacNhanKetBan)
            fetch('http://54.255.212.173:3002/api/xacyeucau', optionsXacNhanKetBan)
                .then(response => response.json())
                .then(data => {
                    if (data.error === true) {
                        window.location.href = '/danhba';
                    }
                });
        }
        /**
         * Thêm số điện thoại mới vào danh bạ
         */
        function ThemSDTVaoDanhBa() {
            let newName = $("#tenSDT").val();
            if (!(/(\D)/.exec($("#tenSDT").val()))) {
                $("#messErrName").html("Không được nhập số");
                return;
            }

            let newNumber = $("#newSDT").val();
            if (!(/(09|03|08|07)+([0-9]{8})\b/.exec($("#sdtadd").val()))) {
                const paramThemSDT = {
                    "newName": newName,
                    "newNumber": newNumber,
                    "SDT": user.SDT
                }
                const optionsThemSoDienThoai = {
                        method: 'POST',
                        body: JSON.stringify(paramThemSDT),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    // fetch('http://localhost:3002/api/themsdt', optionsThemSoDienThoai)
                fetch('http://54.255.212.173:3002/api/themsdt', optionsThemSoDienThoai)
                    .then(response => response.json())
                    .then(data => {
                        directories = data.data;
                        if (data.error === false) {
                            $("#tbNumberPhone").empty();
                            for (let i = 0; i < directories.length; i++) {
                                let tbAddNumberPhone = `
                            <tr>
                                <td>
                                    ${directories[i].ten}
                                </td>
                                <th>
                                    ${directories[i].sdt}
                                </th>
                                <td>
                                    <button class="btn btn-primary" type="button" value="SuaSDT"data-dismiss="modal" data-toggle="modal" data-target="#myModalSuaSDT" 
                                    onclick="SuaSDTDanhBa('${directories[i]._id}','${directories[i].ten}','${directories[i].sdt}')">Sửa</button>
                                    <button class="btn btn-danger" type="button" value="XoaSDT"
                                    onclick="XoaSDTDanhBa('${directories[i]._id}')">Xóa</button>
                                </td>
                            `;
                                $("#tbNumberPhone").append(tbAddNumberPhone);
                            }
                        }
                    });
                setTimeout(() => {
                    $("#myModalThemSDT").hide();
                    $(".modal-backdrop").remove();
                    $("#closeModel").click();
                    $("#tenSDT").val("");
                    $("#newSDT").val("");
                }, 300);
            } else {
                $("#messErrSDT1").html("Số điện thoại phải 10 số*");

            }

        }
        /**
         * Gọi model sửa số điện thoại
         */
        function SuaSDTDanhBa(idSua, TenSua, SDTSua) {
            $("#newten").val(TenSua);
            $("#newnumber").val(SDTSua);
            $("#idSua").val(idSua);
        }
        /**
         * Gửi yêu cầu cập nhật thông tin danh bạ
         */
        function SuaThongTinDanhBa() {
            let idSuaThongTin = $("#idSua").val();
            let newName = $("#newten").val();
            if (!(/(\D)/.exec($("#newten").val()))) {
                $("#messErrNameFix").html("Không được nhập số");
                return;
            }
            let newNumber = $("#newnumber").val();
            if (/(\d{10})/.exec($("#newnumber").val())) {
                const paramSuaThongTin = {
                    "idSuaThongTin": idSuaThongTin,
                    "newName": newName,
                    "newNumber": newNumber,
                    "SDT": user.SDT
                }
                const optionSuaThongTin = {
                        method: 'POST',
                        body: JSON.stringify(paramSuaThongTin),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    // fetch('http://localhost:3002/api/suasdt', optionSuaThongTin)
                fetch('http://54.255.212.173:3002/api/suasdt', optionSuaThongTin)
                    .then(response => response.json())
                    .then(data => {
                        directories = data.data;
                        if (data.error === false) {
                            $("#tbNumberPhone").empty();
                            for (let i = 0; i < directories.length; i++) {
                                let tbAddNumberPhone = `
                            <tr>
                                <td>
                                    ${directories[i].ten}
                                </td>
                                <th>
                                    ${directories[i].sdt}
                                </th>
                                <td>
                                    <button class="btn btn-primary" type="button" value="SuaSDT" data-dismiss="modal" data-toggle="modal" data-target="#myModalSuaSDT" 
                                    onclick="SuaSDTDanhBa('${directories[i]._id}','${directories[i].ten}','${directories[i].sdt}')">Sửa</button>
                                    <button class="btn btn-danger" type="button" value="XoaSDT"
                                    onclick="XoaSDTDanhBa('${directories[i]._id}')">Xóa</button>
                                </td>
                            `;
                                $("#tbNumberPhone").append(tbAddNumberPhone);
                            }
                        }
                        setTimeout(() => {
                            $("#myModalSuaSDT").hide();
                            $(".modal-backdrop").remove();
                            $("#closeModel").click();
                        }, 300);
                    });
            } else {
                $("#messErrSDTFix").html("Số điện thoại phải 10 số");
            }
        }

        function XoaSDTDanhBa(idXoaThongTin) {
            const paramXoaThongTin = {
                "idXoaThongTin": idXoaThongTin,
                "SDT": user.SDT
            }
            const optionXoaThongTin = {
                method: 'POST',
                body: JSON.stringify(paramXoaThongTin),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            fetch('http://54.255.212.173:3002/api/xoasdt', optionXoaThongTin)
                // fetch('http://localhost:3002/api/xoasdt', optionXoaThongTin)
                .then(response => response.json())
                .then(data => {
                    directories = data.data;
                    if (data.error === false) {
                        $("#tbNumberPhone").empty();
                        for (let i = 0; i < directories.length; i++) {
                            let tbAddNumberPhone = `
                            <tr>
                                <td>
                                    ${directories[i].ten}
                                </td>
                                <th>
                                    ${directories[i].sdt}
                                </th>
                                <td>
                                    <button class="btn btn-primary" type="button" value="SuaSDT"data-dismiss="modal" data-toggle="modal" data-target="#myModalSuaSDT" 
                                    onclick="SuaSDTDanhBa('${directories[i]._id}','${directories[i].ten}','${directories[i].sdt}')">Sửa</button>
                                    <button class="btn btn-danger" type="button" value="XoaSDT"
                                    onclick="XoaSDTDanhBa('${directories[i]._id}')">Xóa</button>
                                </td>
                            `;
                            $("#tbNumberPhone").append(tbAddNumberPhone);
                        }
                    }
                });
        }
        loadDoc();
        var iduser = user._id;
        console.log(iduser);

        function handleUpdateProduct(iduser) {
            $(location).attr('href', '/update-user/' + iduser);
        }

        function handleUpdateUserMK(iduser) {
            $(location).attr('href', '/update-userMK/' + iduser);
        }
    </script>

</head>

<body>
    <button hidden data-toggle="modal" data-target="#myModalDanhBa" id="closeModel"></button>
    <button hidden data-toggle="modal" data-target="#myModalThongTinUser" id="hienModelThongTin"></button>
    <div class="sidenav">
        <img class="avata" id="userAvatar" class="avatarpopup" src="" data-toggle="modal" data-target="#myModalThongTinCaNhan" onclick="XemThongTinCaNhan()">

        <div class="iconoption">
            <a href="/chat"><img src="images/chat.png" class="option" title="Chat"></a>
            <a href="/danhba"><img src="images/contacts1.png" alt="" class="option" title="Danh bạ"></a>
            <a href="/" style="position: absolute; bottom: 10px"><img src="images/logout.png" alt="" class="option"></a>

        </div>
    </div>

    <div class="container-fluid" style="margin-left: 70px;">
        <div class="row">
            <div class="col-3 nopadding" id="banbe" style="border-right: 1px solid rgb(231, 231, 231);">

                <div class="title">
                    <div class="titleName">
                        <h5><span id="userName">Tumblrz - </span></h5>
                    </div>
                </div>

                <div id="timkiemban" class="themdanhba" data-toggle="modal" data-target="#myModalTimban">
                    <img src="images/add.png" width="40px" height="40px" style="margin-top: 6px;">
                    <p style="padding-top: 14px; font-size: 15px;">Thêm bạn bằng số điện thoại</p>
                </div>
                <div id="sdt" class="themdanhbasdt" data-toggle="modal" data-target="#myModalDanhBa">
                    <img src="images/phone.png" width="40px" height="40px" style="margin-top: 6px;">
                    <p style="padding-top: 14px; margin-left: 20px;">Số điện thoại</p>
                </div>
                <hr>
                <div class="titlekb" style="display: flex; margin-top: 20px; margin-left: 10px;">
                    <p style="font-weight: 400; margin-right: 5px; ">Bạn bè</p> (<span id="countbanbe"></span>)
                </div>
                <!-- thông tin bạn -->
                <div id="userInfo">

                </div>
            </div>
            <div class="col-9 nopadding" style="background-color: #FAFAFC;">
                <!-- danh sách kết bạn -->
                <div class="danhsachkb" id="danhsachkb">
                    <div class="inforFriend">
                        <img style="margin-left: 20px; margin-top: 8px; padding-bottom: 3px;" src="images/add.png" width="47px" height="47px">
                        <h5 style="margin-top: 20px; margin-left: 20px;">Danh sách kết bạn</h5>
                    </div>

                    <div class="container">
                        <div class="titlekb" style="display: flex; margin-top: 30px; margin-left: 30px;">
                            <p style="font-weight: 500; margin-right: 5px; ">Lời mời kết bạn</p> (<span id="count1"></span>)
                        </div>
                        <!-- danh sách bạn bè chờ chấp nhận -->
                        <div id="listAcceptFriend">

                        </div>
                    </div>
                </div>
                <div class="goiykb">
                    <div class="container">
                        <div class="titlekb" style="display: flex; margin-top: 30px; margin-left: 30px;">
                            <p style="font-weight: 500; margin-right: 5px; ">Gợi ý kết bạn</p> (<span id="count2"></span>)
                        </div>
                        <div class="goiykb" id="gykb">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal tìm bạn-->
    <div class="modal" id="myModalTimban">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="text-align: center;">
                    <h4 class="modal-title">Tìm kiếm bạn bè</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <!-- <p>Nhập số điện thoại:</p> -->
                    <div class="input-prepend  " style="border: none; box-shadow: none;"><span style="background: url(&quot;https://zalo-chat-static.zadn.vn/v1/emoji.png?v=20180604&quot;) 76% 97.5% / 5100%; -webkit-user-drag: none; width: 26px; height: 26px; display: inline-block; 
                                vertical-align: top; margin-right: 10px;"></span>(+84)
                        <input type="text" id="sdtadd" name="sdtadd" class="input-prepended" maxlength="10" title="Vui lòng điền số điện thoại " placeholder="Số điện thoại " style="border: none; box-shadow: none; left: 10px; position: relative;" pattern="[^a-zA-z]">
                    </div>
                    <div>
                        <span id="messErrSDT"></span>
                    </div>
                    <div class="form-group" style="margin-top: 30px ; display: flex; height: 40px; width: 200px;">
                        <button type="button" class="btn btn-primary" style="margin-right:10px ;" onclick="TimThongTinUser()">Tìm kiếm</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--myModalThongTinUser-->
    <!-- The Model thông tin user ra cái này-->
    <div class="modal" id="myModalThongTinUser">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title ">Thông tin cá nhân</h4>
                    <button type="button " class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <!-- kết bạn -->
                <div class="modal-body ">
                    <form>
                        <div class="container" id="addFriend">
                            <div>
                                <img id="findAvatar" class="avatarpopup" src="">
                                <div class="form-row " style="margin-left: 30px; ">
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Họ tên: </label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblHoTen"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Ngày sinh:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblNgaySinh"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Giới tính:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblGioiTinh"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Số điện thoại:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblSDT"></label>
                                        <input hidden type="text" value="" id="sdtKetBan">
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblEmail"></label>
                                    </div>
                                    <div class="btnthongtincanhan">
                                        <button type="button" class="btn btn-primary" id="btntaoroom" onclick="TaoRoom()">Nhắn tin</button>
                                        <button type="button" class="btn btn-primary" id="btnKetBan" onclick="KetBan()">Kết bạn</button>
                                        <button type="button" class="btn btn-primary" id="btnXacNhanYeuCau" onclick="DongYKetBan($('#lblSDT').html())">Đồng ý</button>
                                        <button type="button" class="btn btn-primary" id="btnHuyXacNhanYeuCau" onclick="KhongDongYKetBan($('#lblSDT').html())">Không đồng ý</button>
                                        <button type="button" class="btn btn-primary" id="btnHuyKetBan" onclick="HuyKetBan()">Hủy Kết bạn</button>
                                        <button type="button" class="btn btn-primary" id="btnHuyYeuCau" onclick="HuyKetBan()">Hủy Yêu cầu</button>
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Thông tin cá nhân -->
    <div class="modal" id="myModalThongTinCaNhan">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title ">Thông tin cá nhân</h4>
                    <button type="button " class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <!-- kết bạn -->
                <div class="modal-body ">
                    <form>
                        <div class="container" id="addFriend">
                            <div>
                                <img id="findAvatarCN" class="avatarpopup" src="">
                                <div class="form-row " style="margin-left: 30px; ">
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Họ tên: </label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblHoTenCN"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Ngày sinh:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblNgaySinhCN"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Giới tính:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblGioiTinhCN"></label>
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Số điện thoại:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblSDTCN"></label>
                                        <input hidden type="text" value="" id="sdtKetBan">
                                    </div>
                                    <div class="col-6 col-sm-4 form-group">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-6 col-sm-8 form-group">
                                        <label id="lblEmailCN"></label>
                                    </div>
                                    <div class="btnthongtincanhan">
                                        <button type="button" class="btn btn-primary" onclick="handleUpdateUserMK(iduser)">Đổi mật khẩu</button>
                                        <button type="button" class="btn btn-primary" onclick="handleUpdateProduct(iduser)">Cập nhật thông tin</button>
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal hiện ra danh bạ-->
    <div class="modal" id="myModalDanhBa">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title ">Danh Bạ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body ">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="thead">
                            <tr>
                                <th>Tên</th>
                                <th>Số Điện thoại</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <!-- danh sách số điện thoại  -->
                        <tbody id='tbNumberPhone'>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModalThemSDT">Thêm</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal Thêm SDT Mới vào danh bạ-->
    <div class="modal" id="myModalThemSDT">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">Thông tin Số điện thoại</h4>
                    <button type="button" class="close" data-toggle="modal" data-dismiss="modal" data-target="#myModalDanhBa">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body ">
                    <form>
                        <div class="col-6 col-sm-4 form-group">
                            <label>Họ tên: </label>
                        </div>
                        <div class="col-6 col-sm-8 form-group">
                            <input class="form-control" type="text" id="tenSDT">
                        </div>
                        <div class="messageError">
                            <span id="messErrName"></span>
                        </div>
                        <div class="col-6 col-sm-4 form-group">
                            <label>Số điện thoại:</label>
                        </div>
                        <div class="col-6 col-sm-8 form-group">
                            <input class="form-control" type="text" id="newSDT" maxlength="10">
                        </div>
                        <div class="messageError">
                            <span id="messErrSDT1"></span>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="ThemSDTVaoDanhBa()">Thêm</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal" data-toggle="modal" data-target="#myModalDanhBa">Đóng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal Thêm SDT Mới vào danh bạ-->
    <div class="modal" id="myModalSuaSDT">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">Thông tin Số điện thoại</h4>
                    <button type="button" class="close" data-toggle="modal" data-dismiss="modal" data-target="#myModalDanhBa">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body " id="fixPhoneNumber">

                </div>
            </div>
        </div>

    </div>
    <!-- Modal Cập nhật thông tin -->
    <!-- The Modal -->
    <div class="modal" id="myModalCapNhatThongTin">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>