<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styledk.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function kiemtraOTP() {
            const otp = document.getElementById("otp").value;
            const maotp = {
                'otp': otp
            }
            const options = {
                method: 'POST',
                body: JSON.stringify(maotp),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            console.log(options);

            fetch('http://54.255.212.173:3002/api/kiemtraotp', options)
                .then(response => response.json())
                .then(data => {
                    if (data.error === false) {
                        window.location.href = '/newUser'
                    } else {
                        let messEr = `${data.message}`;
                        $('#mess').show();
                        $('#mess').empty();
                        // $('#mess').addClass('text-danger')
                        $('#mess').append(messEr);
                    }
                })

        }
    </script>
</head>

<body style="background-image: url(images/background.png);">
    <div class="content">
        <div class="tab-content" style="margin: 0 auto;">
            <div id="email" class="container tab-pane active">
                <form action="/acceptOTP" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Enter code</label>
                        <input id="otp" type="text" class="form-control" name="otp" placeholder="####">
                        <span id="mess" style="font-size:12px; margin-left: 10px; color: red;"></span>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-light " name="MaOTP" value="QuayLai">Trở về</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>

</html>