<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styledk.css">

</head>

<body>
    <div class="container" id="nhapthongtinnew">
        <h2>Thay đổi mật khẩu</h2>
        <form action="/thaydoimatkhau<%= user._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <label for="">Mật khẩu mới</label>
                <input type="password" class="form-control" id="email" name='matkhaumoi'>
            </div>
            <div class="form-row">
                <label for="">Xác nhận mật khẩu mới</label>
                <input type="password" class="form-control" id="email" name='nhaplaimatkhaumoi'>
            </div>
            <div class="btnDKnew">
                <button id="save" type="submit" class="btn btn-primary">Lưu</button>
                <form action="/" method="GET">
                    <button type="button" class="btn btn-light" onclick="back()">Thoát</button>
                </form>
            </div>
        </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function back() {
            window.location.href = '/danhba';
        }
    </script>
</body>