<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styledk.css">

    <title>Thông tin người dùng mới</title>
    <script>
        console.log(uploadS3);

        function addNewUser() {
            const ho = document.getElementById("ho").value;
            const ten = document.getElementById("ten").value;
            const email = document.getElementById("email").value;
            const phone = document.getElementById("SDT").value;
            const password = document.getElementById("matkhau").value;
            const ns = document.getElementById("ngaySinh").value;
            const gioitinh = document.getElementById("gioitinh").value;
            // const avatar = document.getElementById("avatar").value;
            const newUser = {
                'ho': ho,
                'ten': ten,
                "email": email,
                'sdt': phone,
                "pass": password,
                'ngaySinh': ns,
                'gt': gioitinh,
                'avata': avatar
            }
            const options = {
                method: 'POST',
                body: JSON.stringify(newUser),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            // fetch('http://localhost:3002/api/addNewUser', options)
            //     .then(response => response.json())
            //     .then(data => {
            //         if (data.error === false) {
            //             // localStorage.setItem('userInfo', JSON.stringify(data.data));
            //             window.location.href = ''
            //         } else {
            //             let messEr = `${data.message}`;
            //             $('#mess').show();
            //             $('#mess').empty();
            //             $('#mess').addClass('alert alert-danger')
            //             $('#mess').append(messEr);
            //         }

            //     })
        }
    </script>

</head>

<body style="background-image: url(images/background.png);">
    <div id="page-content-wrapper">
        <div class="container" id="nhapthongtin">
            <h3 style="padding-top: 20px;">Thông tin người dùng</h3>
            <form action="/themuser" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="firstName">Họ</label>
                        <input type="text" class="form-control" id="ho" placeholder="Họ" name='ho' required pattern="[^0-9]*">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="firstName">Tên</label>
                        <input type="text" class="form-control" id="ten" placeholder="Tên" name='ten' required pattern="[^0-9]*">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name='email' value="<%=mail %>">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="phone">Điện thoại</label>
                        <input type="text" class="form-control" id="SDT" placeholder="Số điện thoại" name='SDT' required pattern="(09|03|08|07)+([0-9]{8})\b">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="pass">Mật khẩu</label>
                        <input type="password" class="form-control" id="matkhau" placeholder="Password" name='matkhau' required pattern="^[a-zA-Z0-9_-]{3,16}$">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="ngaySinh">Ngày sinh</label>
                        <input type="date" class="form-control" id="ngaysinh" name='ngaysinh' required pattern="^(0?[1-9]|[12][0-9]|3[01])([ \/\-])(0?[1-9]|1[012])\2([0-9][0-9][0-9][0-9])(([ -])([0-1]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9])?$">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="gioiTinh">Giới tính</label> <br>
                        <input type="radio" value="Nam" id="gioitinh" name="gioitinh" checked>
                        <label>Nam</label> &nbsp; &nbsp;
                        <input type="radio" value="Nữ" id="gioitinh" name="gioitinh">
                        <label>Nữ</label> &nbsp; &nbsp;
                        <input type="radio" value="Khác" id="gioitinh" name="gioitinh">
                        <label>Khác</label>
                    </div>
                    <div class="form-group">
                        <label for="">Avatar</label>
                        <input type="file" name="avatarNew" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="btnDK">
                        <button id="save" style="margin-bottom: 10px; margin-left: 550px;" type="submit" class="btn btn-primary">Lưu</button>
                        <form action="/" method="GET">
                            <button style="margin-bottom: 10px;" type="button" class="btn btn-light">Thoát</button>
                        </form>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>




</body>

</html>