<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styledk.css">

</head>

<body>
    <div class="container" id="nhapthongtin">
        <h2>Thay đổi thông tin người dùng</h2>
        <form action="/updateUser/<%= user._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="firstName">Họ</label>
                    <input type="text" class="form-control" id="ho" placeholder="Tên" name='ho' value="<%= user.ho %>" required pattern="[^0-9]*">
                    <div>
                        <span id="messErrHo" style="color: red;"></span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="firstName">Tên</label>
                    <input type="text" class="form-control" id="ten" placeholder="Tên" name='ten' value="<%= user.ten %>" required pattern="[^0-9]*">
                </div>
                <div>
                    <span id="messErrTen" style="color: red;"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name='email' value="<%= user.email %>">
                    <div>
                        <span id="messErrEmail" style="color: red;"></span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="phone">Điện thoại</label>
                    <input type="text" class="form-control" id="SDT" placeholder="Số điện thoại" name='SDT' value="<%= user.SDT %>" required pattern="(09|03|08|07)+([0-9]{8})\b">
                    <div>
                        <span id="messErrSDT" style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="ngaySinh">Ngày sinh</label>
                    <input type="date" class="form-control" id="ngaysinh" name='ngaysinh' value="<%= user.ngaysinh %>">
                    <div>
                        <span id="messErrNgaySinh" style="color: red;"></span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <% if(user.gioitinh == "Nam"){ %>
                        <label for="gioiTinh">Giới tính</label> <br>
                        <input type="radio" value="Nam" id="gioitinh" name="gioitinh" checked>
                        <label>Nam</label> &nbsp; &nbsp;
                        <input type="radio" value="Nữ" id="gioitinh" name="gioitinh">
                        <label>Nữ</label> &nbsp; &nbsp;
                        <input type="radio" value="Khác" id="gioitinh" name="gioitinh">
                        <label>Khác</label>
                        <% } %>
                            <% if(user.gioitinh == "Nữ"){ %>
                                <label for="gioiTinh">Giới tính</label> <br>
                                <input type="radio" value="Nam" id="gioitinh" name="gioitinh">
                                <label>Nam</label> &nbsp; &nbsp;
                                <input type="radio" value="Nữ" id="gioitinh" name="gioitinh" checked>
                                <label>Nữ</label> &nbsp; &nbsp;
                                <input type="radio" value="Khác" id="gioitinh" name="gioitinh">
                                <label>Khác</label>
                                <% } %>
                                    <% if(user.gioitinh == "Khác"){ %>
                                        <label for="gioiTinh">Giới tính</label> <br>
                                        <input type="radio" value="Nam" id="gioitinh" name="gioitinh">
                                        <label>Nam</label> &nbsp; &nbsp;
                                        <input type="radio" value="Nữ" id="gioitinh" name="gioitinh">
                                        <label>Nữ</label> &nbsp; &nbsp;
                                        <input type="radio" value="Khác" id="gioitinh" name="gioitinh" checked>
                                        <label>Khác</label>
                                        <% } %>
                </div>
                <div class="form-group">
                    <label for="">Avatar</label>
                    <input type="file" name="avatarNew" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
            <div class="btnDKnew">
                <button id="submit" type="submit" class="btn btn-primary">Lưu</button>
                <!-- <button id="save2" type="button" class="btn btn-primary" hidden>Lưu</button> -->
                <button type="button" class="btn btn-light" onclick="back()">Thoát</button>
            </div>
        </form>
    </div>
    <script>
        function back() {
            window.location.href = '/danhba';
        }
    </script>
    <script>
        function KiemTraLoi() {
            let kiemloiHo = false;
            let kiemloiTen = false;
            let kiemloiNgaySinh = false;
            let kiemloiEmail = false;
            let kiemloiSDT = false;
            let kiemloiMatKhau = false;
            if (!(/[a-zA-Z]+/.exec($('#ho').val()))) {
                $("#messErrHo").html("Sai dữ liệu");
                kiemloiHo = true;
            } else {
                $("#messErrHo").empty();
                kiemloiHo = false;
            }
            if (!(/[a-zA-Z]+/.exec($('#ten').val()))) {
                $("#messErrTen").html("Sai dữ liệu");
                kiemloiTen = true;
            } else {
                $("#messErrTen").empty();
                kiemloiTen = false;
            }
            if (!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.exec($('#email').val()))) {
                $("#messErrEmail").html("Sai dữ liệu");
                kiemloiEmail = true;
            } else {
                $("#messErrEmail").empty();
                kiemloiEmail = false;
            }
            if (!(/(09|03|08|07)+([0-9]{8})\b/.exec($('#SDT').val()))) {
                $("#messErrSDT").html("Sai dữ liệu");
                kiemloiSDT = true;
            } else {
                $("#messErrSDT").empty();
                kiemloiSDT = false;
            }
            if (!(/([a-zA-Z0-9]{1,20})/.exec($('#matkhau').val()))) {
                $("#messErrMatKhau").html("ít nhất 1 từ và không chứa kí hiệu đặc biệt");
                kiemloiMatKhau = true;
            } else {
                $("#messErrMatKhau").empty();
                kiemloiMatKhau = false;
            }

            if ($('#ngaysinh').val() == "") {
                $("#messErrNgaySinh").html("Chưa chọn ngày sinh");
                kiemloiNgaySinh = true;
            } else if (new Date().getFullYear() - new Date($('#ngaysinh').val()).getFullYear() < 12) {
                $("#messErrNgaySinh").html("Bạn phải đủ 12 tuổi");
                kiemloiNgaySinh = true;
            } else {
                $("#messErrNgaySinh").empty();
                kiemloiNgaySinh = false;
            }
            if (kiemloiHo || kiemloiTen || kiemloiSDT || kiemloiEmail ||
                kiemloiMatKhau || kiemloiNgaySinh) {
                return;
            } else {
                $("#savev2").click();
            }
        };
    </script>
</body>